// body {
//     height: 100%;
//     margin: 0;
// }

.app-wrapper {
    width: 100%;
    
    .content{
        height: calc(100vh - 70px);
        margin-top: 70px;

        /* Home page */
        .home-page-content-wrapper {
            display: grid;
            grid-template-rows: 20% 60% 20%;
            height: 100%;
            padding: 0 8px 0 8px;

            .home-page-content {
                grid-row-start: 2;
                grid-row-end: 3;

                .home-page-site-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 35px;
                    margin-right: 35px;
                }

                .home-page-site-description {
                    text-align: center;
                    font-family: monospace;
                    width: 80%;
                    margin: 40px auto;
                }
            }
        }


        .log-page-wrapper, .proposal-page-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 80%;
            margin: 20px auto;
            padding: 2rem;

        }

        .log-entry-title, .proposal-title {
            font-weight: bold;
            font-size: 24px;
            font-family: monospace;
            color: #333;
            margin-bottom: 1.5rem;
        }

        .MuiFormControl-root {
            margin-bottom: 1.5rem;
        }

        .MuiInputLabel-root {
            color: #555;
        }


        .MuiSelect-root:hover {
            border-color: #007bff;
            /* Change border color on hover */
        }

        .log-entry-content {
            background-color: white;
            padding: 1.5rem;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            font-size: 1rem;
            color: #555;
            white-space: pre-line;
            /* Preserve new lines */
            overflow-wrap: break-word;
            /* Ensure long content wraps */
        }
    }
}